YOBIDASHI_MQTT_HOST={{ yobidashi_mqtt_host }}
YOBIDASHI_MQTT_PORT={{ yobidashi_mqtt_port }}
YOBIDASHI_MQTT_USERNAME={{ yobidashi_mqtt_username }}
YOBIDASHI_MQTT_PASSWORD={{ lookup('env', 'YOBIDASHI_MQTT_PASSWORD') }}
YOBIDASHI_TOPIC_PREFIX={{ yobidashi_topic_prefix }}
YOBIDASHI_BRIGHTNESS={{ yobidashi_brightness }}
YOBIDASHI_FLASH_INTERVAL={{ yobidashi_flash_interval }}
