export CP_IPS="192.168.1.100,192.168.1.101,192.168.1.102"
export YOUR_ENDPOINT=talos.froystein.jp
export CLUSTER_NAME=talos-homelab
export TALOSCONFIG=$HOME/src/github.com/stianfro/lab/talosconfig
export KUBECONFIG=$HOME/src/github.com/stianfro/lab/kubeconfig
export VAULT_ADDR=https://vault.talos.froystein.jp
