apiVersion: kargo.akuity.io/v1alpha1
kind: ProjectConfig
metadata:
  name: blog
  namespace: blog
spec:
  promotionPolicies:
    - stageSelector:
        name: dev
      autoPromotionEnabled: true
    - stageSelector:
        name: prod
      autoPromotionEnabled: false
